<!doctype html>
<html>
  <head>
    <title>PhoneyPay</title>
  </head>

  <body>
    <h1>PhoneyPay</h1>

    Hello {{user.username}}!

    <form action="logout/" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout" />
    </form>
    <p>Phone number: {{account.phone}}</p>
    <p>Balance: {{account.balance}}</p>

    <h2>Send money:</h2>
    <form action="send/" method="POST">
      {% comment %} Flaw 2 fix: add csrf_token {% csrf_token %} {% endcomment %}
      To:
      <select name="receiver">
        {% for number in numbers %}
        <option value="{{ number.id }}">{{ number.phone }}</option>
        {% endfor %}
      </select>
      <br />

      Amount:
      <input type="number" name="amount" />
      <br />

      <button type="submit">Send</button>
    </form>

    <h2>Search Transactions by Phone:</h2>
    <form action="search/" method="GET">
      Phone number:
      <input type="text" name="phone" />
      <button type="submit">Search</button>
    </form>

    <h2>Transaction history</h2>
    <table border="1">
      <tr>
        <th>Number</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      {% for transaction in transactions %}
      <tr>
        {% if transaction.to_account.phone == account.phone %}
        <td>{{transaction.from_account.phone}}</td>
        <td style="color: green">+{{transaction.amount}}€</td>
        {% else %}
        <td>{{transaction.to_account.phone}}</td>
        <td>-{{transaction.amount}}€</td>
        {% endif %}
        <td>{{transaction.timestamp}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
