<!doctype html>
<html>
  <head>
    <title>PhoneyPay</title>
  </head>

  <body>
    <h1>PhoneyPay</h1>

    Hello {{user.username}}!

    <form action="logout/" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout" />
    </form>
    <p>Phone number: {{account.phone}}</p>
    <p>Balance: {{account.balance}}</p>

    <h2>Send money:</h2>
    <form action="send/" method="POST">
      {% csrf_token %} To:
      <select name="receiver">
        {% for number in numbers %}
        <option value="{{ number.id }}">{{ number.phone }}</option>
        {% endfor %}
      </select>
      <br />

      Amount:
      <input type="number" name="amount" />
      <br />

      <button type="submit">Send</button>
    </form>
  </body>
</html>
