<!doctype html>
<html>
  <head>
    <title>PhoneyPay</title>
  </head>

  <body>
    <h1>PhoneyPay</h1>

    Hello {{user.username}}!

    <form action="logout/" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout" />
    </form>
    <p>Phone number: {{account.phone}}</p>
    <p>Balance: {{account.balance}}</p>

    <h2>Send money:</h2>
    <form action="send/" method="POST">
      {% comment %}
      Flaw 2 fix: add csrf_token
      {% csrf_token %}
      {% endcomment %}
      To:
      <select name="receiver">
        {% for number in numbers %}
        <option value="{{ number.id }}">{{ number.phone }}</option>
        {% endfor %}
      </select>
      <br />

      Amount:
      <input type="number" name="amount" />
      <br />

      <button type="submit">Send</button>
    </form>

    <h2>Money sent</h2>

    <ul>
      {% for transaction in sent %}
      <li>Sent {{transaction.amount}}€ in {{transaction.timestamp}}</li>
      {% endfor %}
    </ul>

    <h2>Money received</h2>

    <ul>
      {% for transaction in received %}
      <li>Received {{transaction.amount}}€ in {{transaction.timestamp}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
