<!doctype html>
<html>
  <head>
    <title>Search Results - PhoneyPay</title>
  </head>
  <body>
    <h1>Search Results</h1>
    {% if results %}
    <table border="1">
      <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      {% for transaction in results %}
      <tr>
        <td>{{transaction.from_account.phone}}</td>
        <td>{{transaction.to_account.phone}}</td>
        {% if transaction.to_account.phone == account.phone %}
          <td style="color: green">+{{transaction.amount}}€</td>
        {% else %}
          <td>-{{transaction.amount}}€</td>
        {% endif %}
        <td>{{transaction.timestamp}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No results found</p>
    {% endif %}

    <a href="/">Return</a>
  </body>
</html>
