<!doctype html>
<html>
  <head>
    <title>Statistics - PhoneyPay</title>
  </head>
  <body>
    <h1>Statistics</h1>
    Hello {{user.username}}!
    <table border="1">
      <tr>
        <th>Users</th>
        <th>Transfers</th>
        <th>Total money transferred</th>
      </tr>
      <tr>
        <td>{{statistics.total_users}}</td>
        <td>{{statistics.total_transfers}}</td>
        <td>{{statistics.total_amount}}</td>
      </tr>
    </table>

    <a href="/">Return</a>
  </body>
</html>
